{% extends 'base.html.twig' %}

{% block title %}Hello ListImageController!
{% endblock %}

{% block body %}
<br>
		<div style="text-align: center">
		<a href="{{ path('app_product_new',{ 'weapon_id': weapon.id })}}">
			<button class="button-17">Add new {{ weapon.name }} mod
			</button>
			</a>
		</div>
		<br>
	{% for image in ImagesList %}
		<div class="container-1">
			<div class="card" style="width:30rem">
				<a href="{{ path('app_image_one',{ 'image_id': image.id })}}">
					<img class="card-img-top myModal" id="{{ image.id }}" src="{{ asset('mod/'~ image.url) }}" alt="Card image cap">
				</a>
				<div class="card-body">
					{% set foo = 0 %}
					{% if image.getVotes | length > 0  %}
						{% for vote in image.getVotes %}
							{% if vote.isType != 0 %}
								{% set foo =  foo + 1 %}
							{% endif %}
						{% endfor %}
						<button class="button-18">{{ (foo / image.getVotes|length) * 100 | round(1,'floor')}}
							%</button>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}

