{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div style="text-align: center">
			<button class="button-17">  {{User.uuid }}
			</button>
		</div>

   {% for image in userWeapons %}
   		<div class="container-1">
   			<div class="card" style="width:55rem">
   				<a href="{{ path('app_image_one',{ 'image_id': image.id })}}">
   					<img class="card-img-top myModal" id="{{ image.id }}" src="{{ asset('mod/'~ image.url) }}" alt="Card image cap">
   				</a>
				<div class="card-body">
					<a style="text-decoration: none;" href="{{ path('app_user',{ 'uuid': image.getUser.getUuid })}}"
					<button class="button-18">{{ image.getUser.getUuid}}</button>
					</a>
					{% set foo = 0  %}
					{% for vote in image.getVotes %}
						{% if vote.isType %}
							{% set foo =+ 1 %}
						{% endif %}
					{% endfor %}
					{% set var = image.getVotes | length - foo %}
					<a style="text-decoration: none" href="{{ path("app_upvote", {"image_id" : image.id}) }}"
					<button class="button-17"> {{ foo }}<img src="{{ asset('assets/up.png') }}" height="30px"></button>
					</a>
					<a style="text-decoration: none"href="{{ path("app_downvote", {"image_id" : image.id}) }}"
					<button class="button-17">{{ var }} <img src="{{ asset('assets/down.png') }}" height="30px"></button>
					</a>
				</div>
   			</div>
   		</div>
   	{% endfor %}
{% endblock %}
